* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  overflow: auto;
}

#projects, #workExperience, #education {
  padding-top: 10px;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
}

#projectSample {
  display = inline-block;
}

h1 {
  font-size: 40px;
  color: #d65c10;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #2a2a2a;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #666;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #979797;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #979797;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #979797;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #d65c10;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-family: 'Over the Rainbow', cursive;
  font-size: 20px;
  color: #979797;
  line-height: 1.2;
  padding-left: 10%;
  text-align: center;
  display: inline-block;
}

#role {
  color: #2a2a2a;
  font-size: 18px;
}

#skillsH3 {
  color: #666;
  display: none;
  text-align: center;
}

.orange {
  background-color: #979797;
}

.orange-text {
  color: #d65c10;
}

.gray-text {
  color: #666;
}

.white-text {
  color: #fff;
}
.footer-text {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.footImg {
  display: inline-block;
  vertical-align: middle;
}

.gray {
  background-color: #fff;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #2a2a2a;
}

.menu {
  position: fixed;
  right: 0;
  z-index: 1000;
}

#menuOptions {
  background-color: #fff;
}

/* Add some padding at the top of the header so it aligns well
with the right nav bar.
 */
#header {
  background-color: #fff;
  padding-top: 40px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.foot-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 175px;
  display: none;
}

img {
  padding: 10px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:910px) {
  .biopic {
    width: 175px;
  }
  .welcome-message {
    font-size: 15px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message, #role {
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .menu, #role, #footerContacts {
    display: none;
  }
  #name {
    text-align: center;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}
